<div class="filter-container">
  <select class="form-select"
          id="categorySelect"
          [(ngModel)]="filter.category">
    <option selected value="0">Select a category</option>
    <option *ngFor="let cat of categories$ | async" [value]="cat.id">{{ cat.name }}</option>
  </select>
  <select class="form-select"
          id="difficultySelect"
          [(ngModel)]="filter.difficulty">
    <option selected value="none">Select difficulty</option>
    <option value="easy">Easy</option>
    <option value="medium">Medium</option>
    <option value="hard">Hard</option>
  </select>
  <button id="createBtn"
          (click)="onCreate()"
          type="button"
          class="btn btn-outline-primary"
          [disabled]="isCreationDisabled()">
        Create
  </button>
</div>
